.promo-cards{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.promo-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
}
.promo-card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}